ErrorDocument 404 /
ErrorDocument 403 /

DirectoryIndex index.php
Options +FollowSymLinks -Indexes

RewriteEngine On

RewriteCond %{THE_REQUEST} !/(?:users|allowed|js|css)[/?] [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]